<footer class="site-footer">
    <div class="container">
        <h2 class="section-title section-title--white section-title--center">- get in touch with us -</h2>
        <p class="site-footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
        <span>Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>        
        <ul class="site-footer__list">
            <li class="site-footer__item site-footer__item--orange">
                <img src="@img/icons/icons.svg#rss-icon" class="svg-rss-icon-dims" alt="rss-icon" width="10" height="10">
            </li>
            <li class="site-footer__item site-footer__item--blue">
                <img src="@img/icons/icons.svg#facebook-icon" class="svg-facebook-icon-dims" alt="facebook-icon" width="6"
                    height="12">
            </li>
            <li class="site-footer__item site-footer__item--light-blue">
                <img src="@img/icons/icons.svg#twitter-icon" class="svg-twitter-icon-dims" alt="twitter-icon" width="9"
                    height="12">
            </li>
            <li class="site-footer__item site-footer__item--violet">
                <img src="@img/icons/icons.svg#dribbble-icon" class="svg-dribbble-icon-dims" alt="dribbble-icon" width="12"
                    height="12">
            </li>
            <li class="site-footer__item site-footer__item--red"> 
                <img src="@img/icons/icons.svg#pinterest-icon" class="svg-pinterest-icon-dims" alt="pinterest-icon" width="10"
                    height="12">
            </li>
            </ul>
            <ul class="site-footer__contacts-list">
                <li><a class="site-footer__contacts-link" href="#">Moonshine St. 14-05 Light City &#8194;/&#8194;</a></li>
                <li><a class="site-footer__contacts-link" href="#">T. +00 (123) 456 78 90 &#8194;/&#8194;</a></li>
                <li><a class="site-footer__contacts-link" href="#">first.last@email.com</a></li>
            </ul>
    </div>
</footer>