<header class="site-header">
    <nav class="navbar container">
    <div class="navbar__container">
        <input type="checkbox" name="" id="">
        <ul class="navbar__list">
            <li class="navbar__item"><a href="#">Home</a></li>
            <li class="navbar__item"><a href="#">About Us</a></li>
            <li class="navbar__item"><a href="#">Our Journal</a></li>
            <li class="navbar__item"><a href="#">Projects</a></li>
            <li class="navbar__item"><a href="#">news</a></li>
            <li class="navbar__item"><a href="#">features</a></li>
            <li class="navbar__item"><a href="#">contact</a></li>
        </ul>
        <div class="navbar__button">
            <img src="@img/icons/icons.svg#menu-button" class="menu-line" alt="menu-button">
            <img src="@img/icons/icons.svg#menu-cross" class="menu-cross" alt="menu-cross">
        </div>
        </div>
    </nav>
</header>