.site-footer {
    background-color: $backgroundColor;
    padding-top: 38px;
    padding-bottom: 47px;

    @media screen and (min-width: 768px) {
        padding-top: 57px;
        padding-bottom: 56px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 66px;
        padding-bottom: 70px;
    }

    &__text{
        margin-right: auto;
        margin-left: auto;
        color: $footerTextColor;
        @include primeryText();
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.7;
        width: 303px;
        margin-top: 8px;
        margin-bottom: 26px;

        & span{
            display: none;
        }

        @media screen and (min-width: 768px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8;
            width: 684px;
            margin-top: 22px;
            margin-bottom: 37px;

            & span{
                display: inline;
            }
        }
    }
    
    &__list {
        @include flex();
        margin-right: auto;
        margin-left: auto;
        gap: 6px;
        margin-bottom: 25px;

        @media screen and (min-width: 768px) {
            margin-bottom: 34px;
        }
    }

    &__item {
        @include flex();
        box-sizing: border-box;
        width: 34px;
        height: 34px;
        border: 2px solid;
        border-radius: 50%;
    
        &--orange {
            border-color: $rssSvgColor;
        }
    
        &--blue {
            border-color: $facebookSvgColor;
        }
    
        &--light-blue {
            border-color: $twitterSvgColor;
        }
    
        &--violet {
            border-color: $dribbbleSvgColor;
        }
    
        &--red {
            border-color: $pinterestSvgColor;
        }
    }

    &__contacts-list {
        text-align: center;

        @media screen and (min-width: 768px) {
            @include flex();
        }
    }

    &__contacts-link {
        color: $footerTextColor;
        text-align: center;
        @include primeryText();
        font-weight: 400;
        line-height: 1.7;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.6;
        }
    }
}
