.site-header{
    padding-top: 23px;
    padding-bottom: 23px;

    @media screen and (max-width: 767px) {
        height: 37px;
        }
    

    @media screen and (min-width: 768px) {
        padding-top: 41px;
            padding-bottom: 43px;
        }
    
        @media screen and (min-width: 1200px) {
            padding-top: 45px;
            padding-bottom: 51px;
        }
}

.navbar{
    position: relative;

    &__container input[type="checkbox"]{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 44px;
        opacity: 0;
        z-index: 1;

        @media screen and (max-width:767px) {
            height: 37px;
        }
    }

    &__container input[type="checkbox"],
    &__container &__button .menu-line{
        display: block;

    @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__container input[type="checkbox"]:checked ~ &__list{
        display: flex;
    }

    &__container input[type="checkbox"]:checked~&__button .menu-line {
        display: none;
    }

    &__container input[type="checkbox"]:checked~&__button .menu-cross {
        display: flex;
    }

    .navbar__list{
        
        @media screen and (max-width:767px){
            display: none;
            flex-direction: column;
            background-color: $backgroundColorMenu;
            width: 182px;
            position: absolute;
            right: 0;
            top: 37px;
            padding-top: 4px;
            padding-bottom: 2px;
        }

        @media screen and (min-width: 768px) {
            @include flex();
            flex-direction: row;
            justify-content: space-between;
            padding-left: 84px;
            padding-right: 75px;
        }

        @media screen and (min-width: 1200px) {
            padding-left: 179px;
            padding-right: 178px;
        }
}

    &__item{
        padding-top: 4px;
        padding-bottom: 1px;

        @media screen and (min-width: 768px) {
                padding-top: 0px;
                padding-bottom: 0px;
            }
    }
    
    &__item a{
        @include primeryText();
        font-size: 11px;
        font-weight: 400;
        line-height: 2;
        color: $primaryTextColor;
        text-transform: uppercase;

        @media screen and (max-width:767px) {
            padding-left: 12px;
        }
    }
    
    &__item:hover a{
            color: $hoverTextColor;  
    }

    &__item:hover{
        @media screen and (max-width:767px) {
                background-color: $hoverColor;
            }
        
    }

    &__button {
        position: absolute;
        top: 0px;
        right: 0px;
        background: $backgroundColor;
        border: $backgroundColor;
        width: 44px;
        height: 37px;
        display: flex;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.menu-cross{
    display: none;
}

