.container {
    margin-left: auto;
    margin-right: auto;
    width: 320px;

    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.section-title {
    @include primeryText();
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.6;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.4;
    }

    &--grey {
        color: $primaryTextColor;
    }

    &--white {
        color: $footerTitleTextColor;
    }

    &--margin {
        margin-bottom: 13px;

        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 24px;
        }
    }

    &--center {
        text-align: center;
    }
}

.main-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 100%;
    height: auto;
}

.post-section {
    margin-top: 38px;

    @media screen and (min-width: 768px) {
        margin-top: 56px;
        }
    @media screen and (min-width: 1200px) {
        margin-top: 69px;
    }

    &__list{
        margin-top: 23px;
        margin-bottom: 39px;

        @media screen and (min-width: 768px) {
            margin-bottom: 60px;
            }

        @media screen and (min-width: 1200px) {
            margin-top: 24px;
            margin-bottom: 69px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 29px;

        @media screen and (min-width: 768px) {
            margin-bottom: 32px;
        }
    }

    &__item:last-child{
        display: none;
        
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }    

    &__item {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: flex-start;
        }
    }

    &__image{
        display: block;
        margin-bottom: 11px;

        @media screen and (min-width: 768px) {
            margin-right: 21px;    
            margin-bottom: 0;
        }
    }

    &__description {
        color: $primaryTextColor;
        @include primeryText();
        font-weight: 700;
        line-height: 2.1;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 1.9;
        }
    }

    &__comments {
        color: $commentsTextColor;
        @include primeryText();
        font-size: 11px;
        font-weight: 400;
        line-height: 1.8;

        @media screen and (min-width: 768px) {
            font-size: 12px;
            line-height: 1.7;
        }
    }

    &__text{
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            color: $descriptionTextColor;
            @include primeryText();
            font-weight: 400;
            line-height: 1.9;
            margin-top: 13px;
        }
    }
}

.shot-section {
    padding-top: 38px;
    padding-bottom: 42px;


    @media screen and (min-width: 768px) {
        padding-top: 47px;
        padding-bottom: 50px;
        background-color: rgba(0, 0, 0, 0.03);
    }

    &__title-box{
        display: flex;
        justify-content: space-between;
    }    

    &__text{
        color: $primaryTextColor;
        @include primeryText();
        font-size: 13px;
        font-weight: 700;
        line-height: 1.7;
        text-transform: uppercase;
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }
    }

    &__image{
        display: block;
        width: 100%;
        height: auto;
    }

    &__image-list{
        display: flex;
        margin-bottom: 35px;
        justify-content: space-between;
    }

    &__image-item:not(:first-child){
        display: none;    
    }

    &__image-item:not(:last-child){
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &__image-item:last-child {
        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
}