$primaryTextColor: #4E4E4E;
$descriptionTextColor: #5C5C5C;
$commentsTextColor: #7C7C7C;
$backgroundColor: #000;
$footerTitleTextColor: #FEFEFE;
$footerTextColor: #B9B9B9;
$rssSvgColor: #F8902E;
$facebookSvgColor: #39599F;
$twitterSvgColor: #45B0E3;
$dribbbleSvgColor: #D97AB0;
$pinterestSvgColor: #CC212C;
$backgroundColorMenu: #F5F5F5;
$hoverTextColor: #57A4A4;
$hoverColor: #e5e5e5;